<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="sh.ftp.rocketninelabs.meditationassistant"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name="sh.ftp.rocketninelabs.meditationassistant.MeditationAssistant"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appName"
        android:theme="@style/MeditationDarkTheme">

        <!-- Services -->
        <service android:name="sh.ftp.rocketninelabs.meditationassistant.MeditationService"></service>

        <!-- Receivers -->
        <receiver
            android:name="sh.ftp.rocketninelabs.meditationassistant.DailyNotification"
            android:exported="true">
            <intent-filter>
                <action android:name="sh.ftp.rocketninelabs.meditationassistant.DAILY_NOTIFICATION"></action>
                <action android:name="sh.ftp.rocketninelabs.meditationassistant.DAILY_NOTIFICATION_UPDATED"></action>
                <action android:name="android.intent.action.EXTERNAL_APPLICATIONS_AVAILABLE"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED"/>
                <data
                    android:path="${applicationId}"
                    android:scheme="package"/>
            </intent-filter>
        </receiver>

        <!-- Activities -->
        <activity
            android:name="sh.ftp.rocketninelabs.meditationassistant.MainActivity"
            android:configChanges="keyboard|keyboardHidden|screenSize|orientation"
            android:label="@string/appNameShort"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="sh.ftp.rocketninelabs.meditationassistant.ALARM"></action>
            </intent-filter>
        </activity>
        <activity
            android:name="sh.ftp.rocketninelabs.meditationassistant.SettingsActivity"
            android:configChanges="keyboard|keyboardHidden|screenSize|orientation"
            android:label="@string/settings"
            android:launchMode="singleTop"
            android:parentActivityName="sh.ftp.rocketninelabs.meditationassistant.MainActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sh.ftp.rocketninelabs.meditationassistant.MainActivity"/>
        </activity>
        <activity
            android:name="sh.ftp.rocketninelabs.meditationassistant.MediNETActivity"
            android:configChanges="keyboard|keyboardHidden|screenSize|orientation"
            android:label=""
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sh.ftp.rocketninelabs.meditationassistant.MainActivity"/>
        </activity>
        <activity
            android:name="sh.ftp.rocketninelabs.meditationassistant.CompleteActivity"
            android:configChanges="keyboard|keyboardHidden|screenSize|orientation"
            android:label="@string/sessioncomplete">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sh.ftp.rocketninelabs.meditationassistant.MainActivity"/>
        </activity>
        <activity
            android:name="sh.ftp.rocketninelabs.meditationassistant.AboutActivity"
            android:configChanges="keyboard|keyboardHidden|screenSize|orientation"
            android:label="@string/about">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sh.ftp.rocketninelabs.meditationassistant.MainActivity"/>
        </activity>
        <activity
            android:name="sh.ftp.rocketninelabs.meditationassistant.ProgressActivity"
            android:configChanges="keyboard|keyboardHidden|screenSize|orientation"
            android:label="@string/progress">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sh.ftp.rocketninelabs.meditationassistant.MainActivity"/>
        </activity>
        <activity
            android:name="com.nononsenseapps.filepicker.FilePickerActivity"
            android:label="@string/appNameShort"
            android:theme="@style/FilePickerTheme">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
