<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sh.ftp.rocketninelabs.meditationassistant">

    <application>
        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAImiscQeePK7-fr6JMj14zZX47kvR0lSKdCgjnXQ" />

        <!-- Register Wear data layer service
        <service android:name=".WearListenerService">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER"/>
            </intent-filter>
        </service> -->
    </application>

</manifest>
